@import "../vars.css";

.zodiacGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  width: 100%;
  box-sizing: border-box;
}

@media (min-width: 576px) {
  .zodiacGrid {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 768px) {
  .zodiacGrid {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 992px) {
  .zodiacGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1200px) {
  .zodiacGrid {
    grid-template-columns: repeat(3, 1fr);
    max-width: 1400px;
  }
}
